/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 18, 2021, 9:42:11 PM
    Author     : Ryuu
*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.left{
    background-color: #2B2B2B;
    width: 100%;
    height: auto;
}

.album-container{
    font-family: 'Lato', sans-serif;
}

::selection {
    background: rgba(0,0,0,0.3);
    text-shadow: 2px 0 1px #ff3f1a, -2px 0 1px #00a7e0;
    color: white;
}


.lateCD .lateCD-title .cd-container{
    border-bottom: 2px solid #C64545;
    color: #FFF;
    justify-content: center;
    align-content: center;
    margin: 0 0 0 0 ;
    height: 35px;
}
.lateCD .lateCD-title .altitle{
    width: 20%;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 0 0;
    padding: 6px 5px 5px 5px;
    border-bottom: 1px solid #C64545;
    background-color: #C64545;
}
@media(max-width: 1100px){
    .lateCD .lateCD-title .altitle{
        width: 40%;
    }
}


/*contact note*/
.lateCD .contact-container .form,
.lateCD .contact-container .form input,
.lateCD .contact-container .form .textarea{
    font-family: 'Poppins', sans-serif;
}
.lateCD .contact-container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 1em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lateCD .contact-container .form{
    width: 100%;
    max-width: 900px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff, 0 0 20px #0ff;
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #0ff;
}

.lateCD .contact-container .form .contact-info{
    background-color: #002A32;
}
.lateCD .contact-container .form .contact-form{
    background-color: #1abc9c;
    position: relative;
}
.contact-form .circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #149279);
    position: absolute;
}

.contact-form .circle.one{
    width: 130px;
    height: 130px;
    top:  130px;
    right: -40px;
}
.contact-form .circle.two{
    width: 80px;
    height: 80px;
    top:  10px;
    right: 30px;
}

.contact-form:before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #1abc9c;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

.contact-form form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.contact-form form .title{
    color: #fafafa;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 1px;
}

.input-container{
    position: relative;
    margin: 1rem 0;

}



.contact-form form .input{
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: .8rem .8rem;
    color: #fafafa;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: .5px;
    border-radius: 25px;
    transition: .3s;
}

.contact-form form textarea.input{
    padding: .8rem .8rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.input-container label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #fafafa;
    font-size:.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: .5s;
}

.input-container.textarea label{
    top: 1rem;
    transform: translateY(0);
}
.contact-form form .btn{
    background-color: #fff;
    margin-bottom: 5px;
    border: 2px solid #fafafa;
    font-size: .95rem;
    color: #1abc9c;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: .3s;
    margin: 0;
}

.contact-form form .btn:hover{
    background-color: transparent;
    color: #fff;
}

.input-container span{
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: .8rem;
    padding: 0 0 .4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}
.input-container span:before,
.input-container span:after{
    content: "";
    position: absolute;
    width: 10%;
    transition: .3s;
    opacity: 0;
    height: 5px;
    background-color: #1abc9c;
    top: 50%;
    transform: translateY(-50%);
}
.input-container span:before{
    left: 50%;
}
.input-container span:after{
    right: 50%;
}

.input-container.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: .8rem;
}

.input-container.focus span:before,
.input-container.focus span:after{
    width: 55%;
    opacity: 1;
}

/*contact-info*/

.contact-info{
    padding: 2.3rem 2.2rem;
    position: relative;
}

.contact-info .title{
    color: #1abc9c;
}

.text{
    color: #fafafa;
    margin: 1.5rem 0 2rem 0;
}
.social-media p{
    color: #fafafa;
}
.social-media .social-icons a{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #1abc9c, #159b80);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-left: .5rem;
    transition: .3s;
}
.social-media .social-icons a:hover{
    transform: scale(1.5);
}
.contact-info:before{
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #1abc9c;
    border-radius: 50%;
    bottom: -70px;
    right: 50px;
    opacity: .3;
}
.contact-info .contact-icon{
    width: 100%;
    height: auto;
}
.contact-info .contact-icon img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}

/*verification css*/
.lateCD .verification{
    position: relative;
    width: 100%;
    min-height: 50vh;
    padding: 1em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 850px){
    .lateCD .contact-container .form{
        grid-template-columns: 1fr;
    }
    .contact-info:before{
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(.95);
    }
    .contact-form:before{
        top: -13px;
        left: initial;
        right: 70px;
    }
    .social-media{
        padding: 1.5rem 0 0 0;
    }
    .text{
        margin: 1rem 0 1.5rem 0;
    }
}

@media(max-width: 480px){
    .lateCD .contact-container{
        padding: 1.5rem;
    }
    .social-media a{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}

@media(max-width: 750px){
    .left{
        width: 100%;
    }
}


